body {
    /* border: solid; */

}

* {
    /* margin: 1rem; */
}

.main-container {
    display: flex;
    color: #000000;
    height: 24vh;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 15px;
    margin: 2rem;
}

.main-issue-container {
    /* border: solid; */
    margin-left: 2rem;
    padding: auto;
}

.img-container {
    height: 5em;
    margin-top: 1rem;
    border-radius: 40px;
}

.issue-text {
    /* width: fit-content; */
}

.btn-class {
    display: flex;
    justify-content: space-around;
}

.heading-container {
    display: flex;
    justify-content: center;
}

.btn-class {
    color: red;
    margin-bottom: 4rem;
}